:root {
	/* Light Theme */
	--color-light-100: #F5F5F5;
	--color-light-200: #E0E0E0;
	--color-light-300: #BDBDBD;
	--color-light-400: #9E9E9E;
	--color-light-500: #757575;
	--color-light-600: #616161;
	--color-light-700: #424242;
	--color-light-800: #303030;
	--color-light-900: #212121;

	/* Dark Theme */
	--color-dark-100: #212121;
	--color-dark-200: #303030;
	--color-dark-300: #424242;
	--color-dark-400: #616161;
	--color-dark-500: #757575;
	--color-dark-600: #9E9E9E;
	--color-dark-700: #BDBDBD;
	--color-dark-800: #E0E0E0;
	--color-dark-900: #F5F5F5;
}