@import './colors';
@import './typography';

body {
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	// color: var(--color-light-500);
	// background-color: var(--color-light-100);
	background-color: var(--background-color, var(--color-light-100));
	color: var(--text-color, var(--color-light-800));
}

/* Light theme */
.light-theme {
	--background-color: var(--color-light-100);
	--text-color: var(--color-light-800);
}

/* Dark theme */
.dark-theme {
	--background-color: var(--color-dark-100);
	--text-color: var(--color-dark-900);
}

/* If the user's system is set to dark mode, switch to the dark theme */
@media (prefers-color-scheme: dark) {
	body {
		--background-color: var(--color-dark-100);
		--text-color: var(--color-dark-900);
	}
}